
/* Navbar */

.navbar a{
    font-size: 18px;
}
#inputState{
    width: 300px;
}

.hero input {
   width: 300px;
    background-color:white;
    left: 100px;
}
#card-img-overlay{
    left: 300px;
    top: 200px;
   width: 1000px;
}
.pro-container{
height: 10px;

}